@model IEnumerable<PruebaTecnica_Entidades.VehiculoDTO>

@{
    ViewData["Title"] = "Home Page";
}

<div>

   
    <hr />
    <h3> Lava Car</h3>
    <p> Selecione una opcion para continar</p>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th> <a asp-controller="Home" asp-action="CreateVehicule" class="btn btn-primary"> Registrar nuevo Vehiculo</a></th>
                <th> <a asp-controller="Home" asp-action="Servicios" class="btn btn-primary"> Reporte de Servicios</a></th>
                <th> <a asp-controller="Home" asp-action="MisServicios" class="btn btn-primary"> Servicios brindados</a></th>
            </tr>
        </thead>
    </table>

   
</div>
<div>
    <hr />
    <h3> Vehiculos sin Servicio</h3>
    <p> Selecione un Vehiculo para asignar servicio</p>
    <hr />
    <table class="table">
        <thead>
            <tr>

                <th scope="col">Placa</th>
                <th scope="col">Dueño</th>
                <th scope="col">Marca</th>
                <th scope="col">Asignar Servicios</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.lista)
            {
    <tr>

          <td>@item.Placa</td>
          <td>@item.Dueno</td>
          <td>@item.Marca</td>
         <td><a class="btn btn-primary" asp-route-id="@item.ID_Vehiculo" asp-route-placa="@item.Placa" asp-route-dueno="@item.Dueno" asp-route-marca="@item.Marca" asp-action="VistaServicios" asp-controller="Home"> Asignar Servicios</a> </td>
    </tr>
            }

        </tbody>
    </table>
</div>